.Staff
  = render 'shared/sidebar'

  .Staff-regist
    %h1.Staff-regist__title スタッフ情報編集
    = form_with model: @staff, local: true do |f|
      %p.Staff-regist__text スタッフの名前 (必須)
      = f.text_area :name, class:"Staff-regist__name", placeholder:"変更後の名前", maxlength:"10"
      %p.Staff-regist__text スタッフのキャリアパスランク (必須)
      = f.collection_select(:rank_id, Rank.all, :id, :name, {},{class:"Staff-regist__rank"})
      %br
      = f.submit "更新する", class:"Staff-regist__btn"