.Staff
  = render partial: "shared/sidebar", locals: { staffs: @staffs }
  
  .Staff-regist
    %h1.Staff-regist__title スタッフ登録
    = form_with model: @staff, local: true, class:"Staff-regist__form" do |f|
      %p.Staff-regist__text スタッフの名前 (必須)
      = f.text_area :name, class:"Staff-regist__name", placeholder:"DWSに表示される名称です", maxlength:"10"
      %p.Staff-regist__text スタッフのキャリアパスランク (必須)
      = f.collection_select(:rank_id, Rank.all, :id, :name, {},{class:"Staff-regist__rank"})
      %br
      = f.submit "登録する", class:"Staff-regist__btn"